<div class="row">

    <div class="tm-navbar-container">

    <!-- navbar   -->
    <nav class="navbar navbar-full navbar-fixed-top">

        <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#tmNavbar">
            &#9776;
        </button>

        <div class="collapse navbar-toggleable-sm" id="tmNavbar">

            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="info">注册学生信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/show">学生信息详情</a>
                </li>

            </ul>

        </div>

    </nav>

  </div>

</div>
