body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html{
  width: 100%;
  height: 100%;
}

a {
  color: #00B7FF;
}
.info{
  padding-top: 10%;
  width: 100%;
  height: 100%;
  background: rgb(215, 165, 114);
}

.show{
  padding-top: 10%;
  width: 100%;
  height: 100%;
  background: rgb(114, 215, 206);
}


.myemail{
  word-break:break-all;
}


.update{
  padding-top: 10%;
  width: 100%;
  height: 100%;
  background: rgb(114, 215, 206);
}
@media screen and (orientation: portrait){
body,html{
  width: 100%;
  height: 100%;
}

  .mytable,.myactive{
    /*margin-left:-15px;*/
    font-size: 12px;
    font-family: "微软雅黑";
    overflow: hidden;
  }
  .show{
    width: 100%;
    height: 100%;
  }

}
